@import './variables';
@import './header';
@import './nav';
@import './card';
@import './cards';
@import './stars';

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: 500;
}
